In [2]:
import requests
from bs4 import BeautifulSoup

In [38]:
import requests

reqUrl = "https://internshala.com/internships/page-1/"

headersList = {
 "Accept": "*/*",
 "User-Agent": "Thunder Client (https://www.thunderclient.com)" 
}

payload = ""

response = requests.request("GET", reqUrl, data=payload,  headers=headersList)

soup = BeautifulSoup(response.content, 'html.parser')

In [ ]:

nested_divs = soup.find_all('div', class_='container-fluid individual_internship visibilityTrackerItem')

for target_div in nested_divs:

        try:
               internship_title =target_div.select_one('.individual_internship_header .heading_4_5 a').text.strip()
        except:
              internship_title = "None"
        
        try:
            company_name =target_div.select_one('.company_name a').text.strip()
        except:
              company_name = "None"
        
        try:
                location =target_div.select_one('#location_names span a').text.strip()
        except:
              location = "None"
        
        try:
            duration = soup.select_one('.other_detail_item_row .other_detail_item.large_stipend_text div.item_body').text.strip()
        except:
              duration = "None"
        
        try:
            stipend = target_div.select_one('.stipend_container .item_body').text.strip()
        except:
              stipend = "None"

        start_date_element = target_div.select_one('#start-date-first .start_immediately_desktop')
        start_date = start_date_element.text.strip() if start_date_element else 'Not specified'

        stipend_element = target_div.select_one('.stipend_container .item_body')
        stipend = stipend_element.text.strip() if stipend_element else 'Not specified'

        # Print the extracted data
        print("Internship Title:", internship_title)
        print("Company Name:", company_name)
        print("Location:", location)
        print("Start Date:", start_date)
        print("Duration:", duration)
        print("Stipend:", stipend)

In [59]:
dbname = "postgres"
user = "saksham"
password = ""
host = "news-api-data.postgres.database.azure.com"
port = 5432
blob_account_name = "newsapistorageaccount"
blob_account_key = ""
container_name = "demo"
newsq = "newsq.txt"
phaseq = "daily.txt"
table_name = "internship"

In [84]:
import psycopg2
import requests
from psycopg2 import sql

def push_data(data, conn):
            insert_query = sql.SQL("""
                  INSERT INTO {} 
                  (source_name, author, title, description, url, url_to_image, published_at, content, category)
                  VALUES 
                  (%(source_id)s, %(source_name)s, %(author)s, %(title)s, %(description)s, %(url)s, %(urlToImage)s, %(publishedAt)s, %(content)s, %(category)s)
            """).format(sql.Identifier(table_name))

            with conn.cursor() as cur:
                  cur.execute(insert_query, data)

            conn.commit()

def connect_to_database(dbname, user, password, host, port):
        # Establish a connection
        conn = psycopg2.connect(dbname=dbname, user=user, password=password, host=host, port=port)

        # Create a cursor object to execute SQL queries
        return conn


def push_data(data, conn, table_name):
    insert_query = sql.SQL("""
        INSERT INTO {} 
        (Internship_Title, Company_Name, Location, Start_Date, Duration, Stipend)
        VALUES 
        (%(Internship_Title)s, %(Company_Name)s, %(Location)s, %(Start_Date)s, %(Duration)s, %(Stipend)s)
    """).format(sql.Identifier(table_name))

    # Create a cursor and execute the insert query
    with conn.cursor() as cursor:
        cursor.execute(insert_query, data)

    # Commit the changes to the database
    conn.commit()

conn = connect_to_database(dbname, user, password, host, port)
def process(num):

    reqUrl = "https://internshala.com/internships/page-{}/".format(num)

    headersList = {
    "Accept": "*/*",
    "User-Agent": "Thunder Client (https://www.thunderclient.com)" 
    }

    payload = ""

    response = requests.request("GET", reqUrl, data=payload,  headers=headersList)

    soup = BeautifulSoup(response.content, 'html.parser')

    nested_divs = soup.find_all('div', class_='container-fluid individual_internship visibilityTrackerItem')

    for target_div in nested_divs:

        try:
               internship_title =target_div.select_one('.individual_internship_header .heading_4_5 a').text.strip()
        except:
              internship_title = "None"
        
        try:
            company_name =target_div.select_one('.company_name a').text.strip()
        except:
              company_name = "None"
        
        try:
                location =target_div.select_one('#location_names span a').text.strip()
        except:
              location = "None"
        
        try:
            duration = soup.select_one('.other_detail_item_row .other_detail_item:nth-child(2) .item_body').text.strip()
        except:
              duration = "None"
        
        try:
            stipend = target_div.select_one('.stipend_container .item_body').text.strip()
        except:
              stipend = "None"

        start_date_element = target_div.select_one('#start-date-first .start_immediately_desktop')
        start_date = start_date_element.text.strip() if start_date_element else 'Not specified'

        stipend_element = target_div.select_one('.stipend_container .item_body')
        stipend = stipend_element.text.strip() if stipend_element else 'Not specified'

        data_dict = {
            'Internship_Title': internship_title,
            'Company_Name': company_name,
            'Location': location,
            'Start_Date': start_date,
            'Duration': duration,
            'Stipend': stipend,
            }
        # Assuming conn is your database connection
        push_data(data_dict, conn, 'internship')

In [ ]:
#for i in range(1, 200):
    process(i)
    print(i)

In [87]:
import pandas as pd

data = pd.read_csv("data/internship.csv")
data.head()

,internship_title,company_name,location,start_date,duration,stipend
0,Java Development,SunbaseData,Work From Home,Immediately,6 Months,"₹ 30,000 /month"
1,Accounting and Finance,DAKSM & Co. LLP,Noida,Immediately,6 Months,"₹ 5,000-10,000 /month"
2,Sales & Digital Marketing,Bharat Natural Elements Private Limited,Bangalore,Immediately,6 Months,"₹ 5,000 /month"
3,Social Entrepreneurship,Hamari Pahchan NGO,Work From Home,Immediately,6 Months,Unpaid
4,Videography & Photography,Esquare Lifestyle,Bangalore,Immediately,6 Months,"₹ 12,000 /month"

In [201]:
data["stipend"] = data['stipend'].apply(lambda x: '0' if 'Unpaid' in str(x) else x)
data["stipend"] = data["stipend"].str.replace("/month", "")
data["stipend"] = data["stipend"].str.replace("lump sum", "")
data["min stipend"] = data["stipend"].str.split("-").str[0].str.strip().str.replace("₹", "")
data["max stipend"] = data["stipend"].str.split("-").str[-1].str.strip().str.replace("₹", "")
data["Other Benifits"] = data["stipend"].str.split('+').apply(lambda x: x[-1].strip() if len(x) > 1 else None)
data["stipend"] = data["stipend"].str.split('+').str[0].str.strip()

In [212]:
data.sample(10)

,internship_title,company_name,location,start_date,duration,stipend,Other Benifits,min stipend,max stipend
2253,Interior Design,Shriram Enterprises,Pimpri-Chinchwad,Immediately,2 Months,"₹ 3,000",None,"3,000","3,000"
3237,Digital Marketing,Warewe Consultancy Private Limited,Work From Home,Immediately,5 Months,"₹ 3,000-5,000",None,"3,000","5,000"
2746,Environmental Sciences,Earth5R,Mumbai,Immediately,6 Months,"₹ 8,000",None,"8,000","8,000"
53,Node.js Development,Across The Globe (ATG),Work From Home,Immediately,3 Months,"₹ 2,500",None,"2,500","2,500"
2278,Graphic Design,CODING JUNIORS TECH PRIVATE LIMITED,Ahmedabad,Immediately,2 Months,"₹ 10,000",None,"10,000","10,000"
3326,Social Media Marketing,SADRAG NGO,Work From Home,Immediately,2 Months,0,None,0,0
3012,Video Making/Editing,Rashmi Suthar,Work From Home,Immediately,6 Months,"₹ 6,000",None,"6,000","6,000"
818,Content Creation (Shoe Category),The Souled Store,Mumbai,Immediately,5 Months,"₹ 10,000",None,"10,000","10,000"
289,Psychology ( Marketing),HappiMynd,Work From Home,Immediately,3 Months,"₹ 1,000-3,000",None,"1,000","3,000"
4518,Graphic Design,Routinely,Jaipur,Immediately,6 Months,"₹ 5,000",None,"5,000","5,000"